services:
  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: unless-stopped
    networks: [open5gs]
    env_file:
      - .env
    volumes:
      - mongo-data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mongo", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 5s
      timeout: 3s
      retries: 20

  webui:
    image: gradiant/open5gs-webui:2.7.2
    container_name: webui
    restart: unless-stopped
    networks: [open5gs]
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - DB_URI=mongodb://mongo/open5gs
    ports:
      - "9999:9999/tcp"

  webui-seed:
    image: gradiant/open5gs-webui:2.7.2
    container_name: webui-seed
    restart: "no"
    networks: [open5gs]
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - DB_URI=mongodb://mongo/open5gs
      - WEBUI_ADMIN_USER=admin
      - WEBUI_ADMIN_PASS=1423
    working_dir: /opt/open5gs-webui
    entrypoint: ["node", "/seed/create-admin.js"]
    volumes:
      - ./webui-init:/seed:ro

  nrf:
    image: gradiant/open5gs:2.7.2
    container_name: nrf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-nrfd"]

  scp:
    image: gradiant/open5gs:2.7.2
    container_name: scp
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-scpd"]
    depends_on: [nrf]

  amf:
    image: gradiant/open5gs:2.7.2
    container_name: amf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-amfd"]
    depends_on: [nrf, scp]
    # gNB -> AMF (NGAP over SCTP)
    ports:
      - "38412:38412/sctp"

  ausf:
    image: gradiant/open5gs:2.7.2
    container_name: ausf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-ausfd"]
    depends_on: [nrf, scp, mongo]

  udm:
    image: gradiant/open5gs:2.7.2
    container_name: udm
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-udmd"]
    depends_on: [nrf, scp, mongo]

  udr:
    image: gradiant/open5gs:2.7.2
    container_name: udr
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-udrd"]
    depends_on: [nrf, scp, mongo]

  pcf:
    image: gradiant/open5gs:2.7.2
    container_name: pcf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-pcfd"]
    depends_on: [nrf, scp, mongo]

  nssf:
    image: gradiant/open5gs:2.7.2
    container_name: nssf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-nssfd"]
    depends_on: [nrf, scp, mongo]

  bsf:
    image: gradiant/open5gs:2.7.2
    container_name: bsf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-bsfd"]
    depends_on: [nrf, scp, mongo]

  smf:
    image: gradiant/open5gs:2.7.2
    container_name: smf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - /home/ziggy/open5gs-core/config/smf.yaml:/opt/open5gs/etc/open5gs/smf.yaml:ro
      - /home/ziggy/open5gs-core/config/freeDiameter/smf.conf:/opt/open5gs/etc/freeDiameter/smf.conf:ro
    command: ["open5gs-smfd"]
    depends_on: [nrf, scp, mongo, upf]
  
  upf:
    user: "root"
    image: gradiant/open5gs:2.7.2
    container_name: upf
    restart: unless-stopped
    networks: [open5gs]
    volumes:
      - ./config:/etc/open5gs:ro
    command: ["open5gs-upfd"]
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    security_opt:
    - seccomp:unconfined
    - apparmor:unconfined    
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv4.ip_forward=1
networks:
  open5gs:
    name: open5gs

volumes:
  mongo-data:
